@import './partials/colors.scss';
@import './partials/typo.scss';
@import './partials/mixins.scss';
@import './partials/misc.scss';
@import './partials/media-query.scss';

html {
  font-size: 62.5%;
  height: 100%;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  @include font-size(1.6);
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $c-grey-ligth;
}

main {
  margin: 0 auto;
}

p {
  margin-top: 0;
  @include line-height(2);
}