$c-grey-ligth: #F9F9F9;
$c-grey: #4E5156;
$c-black: #000000;
$c-white: #FFFFFF;
$c-border: #DEE1E8;

$c-primary-ligth: #4BA7EE;
$c-primary: #003970;
$c-primary-dark: #001841;

$c-secondary: #6DC138;

$c-danger: #DB171D;
$c-moderate: #FFAB48;
$c-warning: #FFEF63;